/* RWD ASSIGNMENT */

/* - - - - - - - UNIVERSAL STUFF - - - - - - - */
img {
  width: 100%;
  max-width:100%;
  height: 100%;
  display: block;
}

.left{
    float:left;
}

.content{
    padding:2rem;
}

.content-2{
    padding:3rem 5rem;
}

h1{
    font-family:'Playfair Display', 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
}

h2{
    font-family:'Poppins', Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.3;
    padding-bottom:.5rem;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.6;
    text-align: left;
}

/* - - - - - - - DIV STUFF - - - - - - */

.hero{
    position:relative;
    background-image:url("../img/birds1.jpg");
    background-position:center center;
    background-size:cover;
    width:50vw;
    height:100vh;
}

.hero-text-box {
  background-color: #FFF8E7;
  padding: 20px 20px;
  width:60%;
  border-radius: 8px;
  text-align: center;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  /*margin:0 auto;*/
}

.hero-col{
    width:50vw;
    height:50vh;
}

.row1-topleft{
    background-image:url("../img/bullfinch2.jpg");
    background-position:center center;
    background-size:cover;
    width:50%;
    height:100%;
    float:left;
}

.row1-topright{
    background-color:#FFE6CA;
    width:50%;
    height:100%;
    float:left;
}

.row1-bottomleft{
    background-color:#FFF8E7;
    width:50%;
    height:100%;
    float:left;
    overflow:hidden;
}

.row1-bottomright{
    background-image:url("../img/bullfinch5.jpg");
    background-position:center bottom;
    background-size:cover;
    width:50%;
    height:100%;
    float:left;
}

.manman{
    width:100%;
    height:600px;
    float:left;
    overflow:hidden;
}

.textman{
    background-color:#FFE6CA;
    width:50%;
    height:100%;
    float:left;
    overflow:hidden;
}

.imageman{
    background-color:#EFA68B;
    width:50%;
    height:100%;
    float:left;
    position:relative;
    overflow:hidden;
}

.img-imageman{
    background-image:url("../img/bullfinch4.jpg");
    background-position:center center;
    background-size:cover;
    width:100%;
    height:75%;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}

.cta-button {
    display: block;
    width:max-content;
    background-color: #EFA68B;
    text-align:center;
    color: #fff;
    padding: 1.5rem 3rem 1rem 3rem;               
    text-decoration: none;
    box-shadow: 4px 4px #121212;
    transition: transform 50ms, box-shadow 50ms; 
    cursor:pointer;
    margin:0 auto;
}

.cta-button:hover {
    background-color: #D88A6E;
    transform:translate(2px, 2px);
    box-shadow: 2px 2px #121212;
}

.gallery{
    width:100%;
    height:400px;
    overflow:hidden;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.col-third{
    width:33.33333%;
    height:400px;
    float:left;
    overflow:hidden;
}

.footer{
    position:relative;
    background-color:#FFF8E7;
    width:100%;
    height:100px;
    float:left;
    overflow:hidden;
}

.logo{
    background-image:url("../img/logo.svg");
    width:100px;
    height:100px;
    margin:0 0 0 50px;
    float:left;
    overflow:hidden;
}

.socialmedia{
    padding: 10px 20px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}

.socialmedia a{
    display:inline-block;
    margin:0 10px;
    cursor:pointer;
}

.socialmedia img {
  width: 30px;
  height: 30px;
  margin: 10px 15px;
}

.socialmedia img:hover {
  transform: scale(1.2) rotate(15deg);
}

