
/* - - - - - - -  FONT IMPORT - - - - - - - */

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Medium.woff2') format('woff2'),
        url('Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('Gotham-Book.woff2') format('woff2'),
        url('Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Newake Demo';
    src: url('NewakeDemo.woff2') format('woff2'),
        url('NewakeDemo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* - - - - - - - TEXT STYLES - - - - - - - */
h1{
  font-family: 'Newake Demo', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1;
  color: #153d54;
}

h2{
    font-family: 'Gotham', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #153d54;
}

h3{
  font-family: 'Newake Demo', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  color: #153d54;
}

h4{
    font-family: 'Newake Demo', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 1;
    color: #153d54;
    margin:5px 0 40px 0;
    text-align: center;
}

.icetitle{
    font-family: 'Newake Demo', Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    line-height: 1;
    color: #153d54;
    /* margin:5px 0 40px 0; */ 
    text-align: center;
    padding:40px 0 0 0;
}


body{
    font-family: 'Gotham Book', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: .9rem;
    line-height: 1.3;
    color: #153d54;
}

/* - - - - - - - BOX TIME - - - - - - - */

header{
    width:100%;
    height:20vh;
    background-color:#FDF0C0;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

footer{
    width:100%;
    height:20vh;
    background-color:#FDF0C0;
    display:flex;
    align-items:center;
    clear:both;
}

.one-third{
    width:33.333%;
    height:80vh;
    background-color:#F9F0D4; 
    float:left;
}

.two-third{
    width:66.666%;
    height:80vh;
    background-color:#FAE3A8;
    float:left;
    overflow:hidden;
}

.one-third1{
    width:33.333%;
    height:80vh;
    background-color:#F9F0D4; 
    float:left;
}

.two-third1{
    width:66.666%;
    height:80vh;
    background-color:#FAE3A8;
    float:left;
    overflow:hidden;
}

.title{
    display:flex;
    align-items:center;
    text-align:center;
    justify-content: center;
    width:100%;
    height:10vh;
    background-color:#F6E4AF;
}

.title2{
    display:flex;
    align-items:center;
    text-align:center;
    justify-content: center;
    width:100%;
    height:10vh;
    background-color:#FFFDF7;
}

.icecream{
    align-items:center;
    width:100%;
    height:60vh;
    background-color:#F6E4AF;
    float:left;
    text-align: center;
}

.sorbet{
    width:100%;
    height:60vh;
    background-color:#FFFDF7;
    float:left;
    text-align:center;
}

.logo{
    margin: 25px 42px;
    background-image:url("../img/logo.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 22%;
    height: 75%;
}

.logo{
    margin: 25px 42px;
    background-image:url("../img/logo.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 22%;
    height: 75%;
}
.logo2{
    margin: 25px 3.5%;
    background-image:url("../img/logo2.png");
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 22%;
    height: 75%;
}

.nav {
    display: flex;
    gap: 80px;
    margin-right: 5%;
    align-items:center;
}

.hamburger{
    display:none;
    background-image:url(../img/hamburger.svg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 22%;
    height: 22%;
}

.nav2 {
    position:absolute;
    left:50%;
    transform:translateX(-50%);

    display:flex;
    gap:40px;
    align-items:center;
}

.nav-spacer{
    width:22%;
}

a{
    text-decoration:none;
}

.textbox1{
    height:62%;
    width:77%;
    margin:8% 13%;
}

.textbox2{
    height:62%;
    width:77%;
    margin:26% 13%;
}

.video-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-wrap iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 56.25vw;
    min-height: 100%;
    min-width: 177.77vh;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.button{
    display:flex;
    margin: 70px 10% 0 10%;
    height:12%;
    width:77%;
    background-color:#FFFDF7;
    border: 4px solid #153D54;
    box-shadow: inset 0 -4px 0 #153D54; 
    border-radius:50px;
    align-items:center;
    justify-content:center;
}

.button:hover {
    background-color: #F7F3E9;
    transform:translate(2px, 2px);
    box-shadow: 5px 5px #153D54;
    cursor: pointer;
}

.flavor{
    display:flex;
    flex-direction:column;
    width:25%;
    height:100%;
    align-items:center;
    justify-content:center;
}

.flavor img{
    width:80%;
    display:block;
}

.flavor-row {
    height:100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    overflow:hidden;
}

.two-third img{
    width:100%;
    height:100%;
    object-fit:contain;
    object-position:center;
    display:block;
}